.app {

}

.app-intro {
  font-size: large;
}


.app-content {
  margin-top: var(--sp-2);
}

.app-row {
  margin-top: var(--sp-1);
}

.convert-btn {
  width: 100%;
}

@media (min-width: 768px) {
  .convert-btn {
    width: initial;
  }
}